<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>hub</title>
</head>
<body>
<h1>각종View로 이동하는 TEST용 허브입니다.</h1>

<button onclick="location.href='/layout/01_layout'">레이아웃1로 이동</button>
<button onclick="location.href='/layout/02_layout'">레이아웃2로 이동</button>
<button onclick="location.href='/layout/03_layout'">레이아웃3로 이동</button>
<button onclick="location.href='/layout/04_layout'">레이아웃4로 이동</button>
<button onclick="location.href='/layout/05_layout'">레이아웃5로 이동</button>

<br>
<button onclick="location.href='/member/purchase/purchase'">결제로 이동</button>
</body>
</html>