@charset "UTF-8";

html {
    background-color : #F1E3C8;
    font-size : 100% ;
}

#content {
    background-color: white;
    width : 600px;
    height : 1080px;
    margin-left : auto;
    margin-right : auto;
}

#top {
    border-bottom : 1px #E1E1E1 solid;
    font-size : 1rem ;
    padding-left: 20px;
    padding-top: 1px;
}

#table-name1 {
    color : #317AA9;
    margin-left : 30px;
    font-size : 1rem;
    text-align: start;
}

#table-name2 {
    color : #317AA9;
    margin-left : 30px;
    font-size : 1rem;
    text-align: start;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
    color : #85BFE2;
    font-size : medium;
    max-width : 600px;
    margin : auto;
    align-content: center;
}

td {
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px #E1E1E1 solid ;
}

th{
    border-bottom : 2px #E1E1E1 solid;
    color : #448AC6 ;
}


#page1 {
    text-align : center;
    font-size: small;
    color : #85BFE2;
}

#page2 {
    text-align : center;
    font-size: small;
    color : #85BFE2;
}





